.container {
    display: flex;
    margin-top: 80px;
    margin-left: 26px;
    margin-right: 26px;
    margin-top: 50px;
}

.left {
    flex: 1;
    background-image: url('C:\Users\akila\OneDrive\Desktop\innobytes\innobytes-project\src\Services\service (1).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
}

.right {
    flex: 1;
    margin-right: 35px;
    margin-left: 35px;
}

.boxes h4 {
    padding: 20px;
    color: #0000008f;
    border-radius: 4px;
    border-color: white;
    text-align: center;
    font-family: popins, sans-serif;
    font-weight: 500;
    font-style: normal;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.075);
    font-family: "Poppins", sans-serif;
    font-size: larger;
}

.boxes {
    background-color: white;
    border-radius: 5px;
}

.imagetext {

    font-family: roboto;
    font-weight: bolder;
    font-size: 3rem;
    width: 390px;
    color: #0000008f;
    padding-left: 20px;
}
.container2{
    padding: 5rem 1rem;
    font-family: Poppins, sans-serif;
    font-weight: bold;
}
.innercontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;    
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 20px;
    gap: 2rem;
    padding: 35px;
    margin-left: 100px;
    margin-right: 100px;
}
.innercontainer h4{
    font-weight: 600;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.771);
    margin: 0px;
}
.innercontainer p{
    color:#0000008f ;
    font-family: popins;
    text-align: center;
}
